@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1160px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

i:not(header nav > div:last-child i), button{
  cursor: pointer;
}


.border-bottom {
  border-bottom: 1px solid gainsboro;
}

p {
  font-size: 0.9rem;
}
/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 15px;
  height: 8vh;
  background: url("../assets/bannerheader.png"), linear-gradient(359deg, rgba(105,163,99,1) 0%, rgba(63,116,144,1) 80%);
  
}

header > div img {
  width: 100px;
  margin-right: 20px;
}

header i, header span {
  color: #fff;
}

header > div:first-child,  header > div nav {
  display: flex;
  align-items: center;
}

/* HEADER NAV */

header nav  > div:first-child  {
  display: flex;
  align-items: center;
  
  padding: 10px;
  gap: 10px;
  font-size: 20px;
  margin-right: 8px;
}

header nav div:first-child:hover {
 cursor: pointer;
 background-color: #fff2;
}

header nav div:first-child span {
  font-weight: bold;
}

/* HEADER INPUT */

header nav > div:last-child {
  height: 30px;
  width: 400px;
  position: relative;
}

header nav > div:last-child input{
  height: 100%;
  width: 100%;
  padding: 12px 10px;
  color: #fff;
  
  border: none;
  border-radius: 2px;
  background: #fff2;
}

header nav > div:last-child input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 1px solid #78b455;
}

header nav > div:last-child input::placeholder{
  color: #fff;
}

header nav > div:last-child i{
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
}

/* HEADER USER AND NOTIFICATION */

header > div:last-child {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}

header > div:last-child i:first-child {
  font-size: 25px;;
}

header > div:last-child i:last-child {
  font-size: 35px;
}


/* MAIN */

main {
  background-color: #EFF3F8;
  height: 100%;
}

main .container {
  display: grid;
  grid-template-columns: 675px 450px;
  height: 100%;
  gap: 20px;
  padding: 25px 0;
}

.recent-news {
  padding-bottom: 15px;
}

.recent-news, .system-and-process, .birthdays{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px gainsboro;
}

.recent-news, .list-notices {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent-news > div h5, .system-and-process > div h5 {
  padding: 15px;
}

.list-notices {
  height: 100%;
  padding: 0 15px;
}

/* CARDS NOTICES */

.list-notices > div {
  display: flex;
  gap: 14px;
  height: 200px;
  
  cursor: pointer;
  box-shadow: 0 4px 15px gainsboro;
  border-radius: 6px;
}

.list-notices > div img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.list-notices > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 15px 0 0;
  height: 100%;
  overflow: hidden;
}

.list-notices > div > div h4 {
  margin-bottom: -10px;
}

/* DATE AND BUTTONS CARDS NOTICES*/

.list-notices > div > div > div {
  display: flex;
  justify-content: space-between;
}

.list-notices > div > div > div > div{
  display: flex;
  gap: 10px;
  color: #6C757D;
}

.list-notices > div > div > div > div i:first-child{
  color: #E03E45;
}

/* SYSTEM AND PROCESS SECTION */

.system-and-process {
  height: 370px;
  margin-bottom: 20px;
}

.system-and-process > div:last-child{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.system-and-process > div:last-child > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80px;

  cursor: pointer;
  background-color: #fff;
  color: #33A76F;
  box-shadow: 0 4px 15px gainsboro;
  border-radius: 6px;
}

.system-and-process > div:last-child > div:hover {
  color: #fff;
  background: linear-gradient(90deg, rgba(105,163,99,1) 0%, rgba(63,116,144,1) 74%);
}

.system-and-process > div:last-child > div i {
  font-size: 30px;
  margin-bottom: 2px;

}

.system-and-process > div:last-child > div small {
  font-weight: bold;
}

/* SECTION BIRTHDAYS */

.birthdays {
  min-height: 500px;
}

.birthdays .border-bottom h5 {
  padding: 15px;
}

.birthdays > section > div:not(div:first-child) {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 30px;
  height: 120px;
  border-bottom: 1px solid gainsboro;
}

.birthdays > section > div:not(div:first-child) img {
  width: 18%;
  max-width: 100%;
  border-radius: 100%;
}

.birthdays > section > div:not(div:first-child) > div h4 {
  margin-bottom: 8px;
}

.birthdays > section > div:not(div:first-child) > div > div i {
  margin-right: 2px;
  color: #6D6F6D;
}